<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="PDUConfig" type="PDUDatas.PDUConfigSection, PDUDatas"/>
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/waitTestClient.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <PDUConfig>
    <Clients>
      <Client name="local" login="poma" password="myMPass_5" serverHost="127.0.0.1" serverPort="3737" timeout="10000" genericNackPeriod="3000">
        <add/>
        <!--<ClientCertificate storeName="My" storeLocation="CurrentUser" thumbprint="14a6444a3362994889511162b016dbe20bf88091"/>-->
        <ClientCertificate storeName="My" storeLocation="LocalMachine" thumbprint="a0957610e77934645a22cdbd3d47b159478316c1"/>
        <ServerCertificate storeName="My" storeLocation="LocalMachine" thumbprint="a0957610e77934645a22cdbd3d47b159478316c1"/>
      </Client>
    </Clients>
  </PDUConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
